.profile-card {
  background-color: white;
  margin-bottom: 1em;
  color: #706E6F;
  border-radius: 1em;
}

.card.card-block {
  padding-bottom: 1px;
}

.card-header {
  margin-left: 2.2em;
}

li {
  list-style-type: none;
  padding-right: 2em;
}

#list-name {
  font-size: 16px;
  cursor: pointer;
  color: grey;
}

#list-name:hover {
  color: #ADADAD;
  text-decoration: underline;
  -webkit-text-decoration-color: #ADADAD;
}

#avatar {
  width: 80px;
  border-radius: 1em;
  margin: 1em;
}