.profile-card {
  background-color: white;
  margin-bottom: 1em;
  color: #706E6F;
  border-radius: 1em;
}

.card-header {
  margin-left: 2.2em;
}

#person-title {
  color: #DE4564; 
  font-weight: bold;
} 

#devices-title {
  color: #F27439; 
  font-weight: bold;
}

#social-title {
  color: #1C7BB1;
  font-weight: bold;
}

#interests-title {
  color: #43A17C;
  font-weight: bold;
}

#scores-title {
  color: #7D41BA;
  font-weight: bold;;
  font-weight: bold;
}

li {
  list-style-type: none;
  padding-right: 2em;
}

#list-name {
  font-size: 16px;
  cursor: pointer;
  margin-left: 2em;
  color: grey;
}

#list-name:hover {
  color: #ADADAD;
  text-decoration: underline;
  -webkit-text-decoration-color: #ADADAD;
}

#avatar {
  width: 80px;
  border-radius: 1em;
}

#personal {
  border: 2px solid #DE4564;
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: #FFDFF7;
}

#devices {
  border: 2px solid #F27439;
  margin-bottom: 1em;
  border-radius: 1em;
  background-color: #FCFFCD;
}

#social {
  border: 2px solid #1C7BB1;
  margin-bottom: 1em;
  border-radius: 1em; 
  background-color: #DFE7FF;
}

#interests {
  border: 2px solid #43A17C;
  margin-bottom: 1em;
  border-radius: 1em; 
  background-color: #DFFFE7;
}

#scores {
  border: 2px solid #7D41BA;
  margin-bottom: 1em;
  border-radius: 1em; 
  background-color: #FFDFF7;
}

